/* line 1, compress/scss/index.scss */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; }

/* line 9, compress/scss/index.scss */
h1 {
  font-size: 2em;
  color: #333;
  align-self: center; }

/* line 15, compress/scss/index.scss */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%vh; }

/* line 24, compress/scss/index.scss */
.search-bar {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px; }

/* line 32, compress/scss/index.scss */
.search-button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer; }
